<h1>Edit Your Historical Landmark</h1>
<h2><%= @landmark.name %></h2>
<form method="POST" action="/landmark">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <label for="landmark_name">Name: </label>
  <input type="text" name="landmark[name]" id="landmark_name">
  <label for="landmark_year">Year: </label>
  <input type="text" name="landmark[year_completed]" id="landmark_year">
  <br><br>
 
 
  <h3>Create New Landmark:</h3>
  <label for="new_landmark">Name: </label>
  <input type="text" name="landmark[name]" id="new_landmark">
  
  <br><br>
  <input type="submit" value="Edit Figure">
</form>